<div class="container justify-content-center category" style="background-color: white; height: 300px;">
    <span class="category-title">
        DANH MỤC
    </span>
    <br>
    <div class="row justify-content-center">
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/clothes.png" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Áo Nam
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/shoes.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Giày Nam
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/iphone.jpg" height="64px" alt="" srcset="" style="margin: 10px;">
                Điện thoại
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/watch.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Đồng hồ
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/manHinh.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Linh kiện máy tính
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/laptop.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Laptop/PC
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/mayAnh.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Máy ảnh
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/xeMay.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Các loại xe
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/Bong.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Thể thao
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/toys.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Đồ Chơi
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/bed.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Giường
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/bepga.png" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Bếp gas
            </a>
        </div>

    </div>

    <div class="row justify-content-center">
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/cothesFemale.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Áo Nữ
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/myPham.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Mỹ Phẩm
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/son.jpg" height="64px" alt="" srcset="" style="margin: 10px;">
                Son
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/doDungHocTap.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Đồ dùng học tập
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/Thuoc.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Sức khỏe
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/sach.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Sách
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/viNu.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Ví, cặp sách
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify/clothes">
                <img src="~/images/classify/noi.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Đồ nội chợ
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify">
                <img src="~/images/classify/figure.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Mô hình
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify">
                <img src="~/images/classify/gaming.png" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Tai nghe
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify">
                <img src="~/images/classify/tayCam.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Gaming
            </a>
        </div>
        <div class="card col-sm-1 text-center">
            <a href="#!classify">
                <img src="~/images/classify/xeDap.jpg" width="64px" height="64px" alt="" srcset="" style="margin: 10px;">
                Xe Đạp
            </a>
        </div>
        <br>

    </div>

</div>
