@page
@model SalesWebsite.CustomerSite.Pages.Categories.IndexModel;
@{
    Layout = "_layout";
}

<h1>Category</h1>

<h3>ID: @Model.category.Id</h3>
<h3>Name: @Model.category.Name</h3>
<h3>Description: @Model.category.Description</h3>